<!DOCTYPE html>

<html lang="es">
   
    <head>
        <link rel="icon" href="../../public/img/MAS.ico">
        <title> +Musica </title>
        <link rel="stylesheet" href="../../public/css/inicio.css">
        <script src="https://kit.fontawesome.com/fd9bb0cd18.js" crossorigin="anonymous"></script>
    </head>

<body>

<header>

    <nav class="menu">
        <ul>
          <li> <a href="inicio.html" id="inicio"> <i class="fa-solid fa-house"></i> Inicio </a> </li>
          <li> <a href="#" id="productos"> <i class="fa-solid fa-music"></i> Productos </a> </li>
          <li> <a href="#" id="ofertas"> <i class="fa-solid fa-bolt"></i> Ofertas </a> </li>
          <li> <a href="recomendaciones.html" id="recomendaciones"> <i class="fa-solid fa-star"></i> Recomendaciones </a> </li>
          <li> <a href="#" id="populares"> <i class="fa-solid fa-list-ol"></i> Populares </a> </li>
          <li> <i id="cerrar" class="fa fa-minus-square-o" aria-hidden="true"></i> </li>
        </ul>
      </nav>

    <div class="lineaprincipal">
        <h4 class="micuenta"> <i class="fa-solid fa-user"></i> Mi Cuenta </h4>
        <p class="hamburger" id="button-menu"> <i class="fa-solid fa-bars"></i> </p>
        <h4 class="carrito"> <i class="fa-solid fa-cart-shopping"></i> Carrito </h4>
    </div>


<div class="encabezado">
    <img class="logo" src="../../public/img/masmusica.gif" alt="+ musica logo">
    <h1 class="tituloprinc"> <strong> ¡Bienvenido a +Música! </strong> </h1> </p>
    <div class="buscadorprincipal"> 
        <form>
            <h2 class="buscar"> <input id="busqueda" placeholder="Ingrese su busqueda"> </h2> 
            <button class="boton-buscar" type="submit" name="enviar"> <i class="fa-solid fa-magnifying-glass"></i> </button>
        </form>
    </div>
    
    <audio class="audio" controls loop> <source src="../../public/Flextime.mp3" type="audio/mpeg"> </audio>
</div>

<br>

</header>

<body>

    <main>

        <p class="tit-reco"> Te recomendamos: </p>

        <section class="recomendados">
            <div class="disco">
                <img id="imgfroot" class="portada" src="../../public/img/FROOT-MATD.jpeg">
                <p class="titulo" style="color: purple"> FROOT </p>
                <p id="artista"> <strong> MARINA AND THE DIAMONDS </strong> </p>
                <span class="spotify" id="linkfroot"> <i class="fa-brands fa-spotify"></i> </span>
                <span class="detalles" id="detallesfroot">
                    <p id="precio"> $4.000 </p> 
                    <p id="totalcanciones"> Cantidad de canciones: 12 </p>
                    <p id="año"> Año: 2015 </p>
                    <input id="comprar" type ="button" value="Comprar"> 
                </span>
            </div>
            <div class="disco">
                <img id="imgconfetti" class="portada" src="../../public/img/CONFETTI-LM.jpeg">
                <p class="titulo" style="color: grey"> CONFETTI </p>
                <p id="artista"> <strong> LITTLE MIX </strong> </p>
                <span class="spotify" id="linkconfetti"> <i class="fa-brands fa-spotify"></i></span>
                <span class="detalles" id="detallesconfetti">
                    <p id="precio"> $4.000 </p> 
                    <p id="totalcanciones"> Cantidad de canciones: 13 </p>
                    <p id="año"> Año: 2020 </p>
                    <input id="comprar" type ="button" value="Comprar"> 
                </span>
            </div>
            <div class="disco">
                <img id="imgdw" class="portada"src="../../public/img/DW-AG.jpeg">
                <p class="titulo" style="color: rgb(41, 41, 41)"> DANGEROUS WOMAN </p>
                <p id="artista"> <strong> ARIANA GRANDE </strong> </p>
                <span class="spotify" id="linkdw"> <i class="fa-brands fa-spotify"></i></span>
                <span class="detalles" id="detallesdw">
                    <p id="precio"> $4.000 </p> 
                    <p id="totalcanciones"> Cantidad de canciones: 11 </p>
                    <p id="año"> Año: 2016 </p>
                    <input id="comprar" type ="button" value="Comprar"> 
                </span>
            </div>
            <div class="disco">
                <img id="imghbhbhb" class="portada" src="../../public/img/HBHBHB-F+TM.jpeg">
                <p class="titulo" style="color: rgb(61, 61, 60)"> HOW BIG, HOW BLUE, HOW BEAUTIFUL </p>
                <p id="artista"> <strong> FLORENCE + THE MACHINE </strong> </p>
                <span class="spotify" id="linkhbhbhb"> <i class="fa-brands fa-spotify"></i></span>
                <span class="detalles" id="detalleshbhbhb">
                    <p id="precio"> $4.000 </p> 
                    <p id="totalcanciones"> Cantidad de canciones: 11 </p>
                    <p id="año"> Año: 2015 </p>
                    <input id="comprar" type ="button" value="Comprar"> 
                </span>
            </div>
            <div class="disco">
                <img id="imgbtd" class="portada" src="../../public/img/BTD-LDR.jpeg">
                <p class="titulo" style="color: rgb(80, 154, 163)"> BORN TO DIE </p>
                <p id="artista"> <strong> LANA DEL REY </strong> </p>
                <span class="spotify" id="linkbtd"> <i class="fa-brands fa-spotify"></i></span>
                <span class="detalles" id="detallesbtd">
                    <p id="precio"> $4.000 </p> 
                    <p id="totalcanciones"> Cantidad de canciones: 12 </p>
                    <p id="año"> Año: 2012 </p>
                    <input id="comprar" type ="button" value="Comprar"> 
                </span>
            </div>
        </section>
    
    </main>

</body>

<footer>
    <div class="pie">
    <br>
    <p> ¿Necesitas ayuda? Contactate con nosotros: tienda.mas.musica@gmail.com </p>
    <br>
    <p> Seguinos en Instagram y no te pierdas las novedades: tiendamasmusica </p>
    <br>
    <p> <a href="inicio.html"> Volver </a> </p>
    <br>
    <p style="font-style: italic"> Creado por Martina </p>
    <br>
    </div>
    <script src="../../public/js/recomendaciones.js"></script>
    </footer>
    
    </body>
    
    </html>